<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Arunima and Ashwittha's Coffee Shop</title>
    <style>
        body { 
            background-color: pink;
            font-family: 'Brush Script MT', cursive;
            font-size: 2rem;
        }

        .content {
            max-width: 600px;
            text-align: center;
            margin: auto;
        }

        .content2 {
            margin: auto;
            text-align: center;
        }
    </style>
    
</head>

<body>
	<h1></h1>
	
	<h2 class = "content">Welcome to Arunima and Ashwittha's Coffee Shop!</h2><br>
	<p class = "content2">Click here to order! <a href="/orderPage">Order</a></p><br>
	<p class = "content2">To view your order details, press here: <a href="/findOrder">View Your Order</a></p><br>
    <p class = "content2">Click here to get your city's weather details <a href="/getWeather">Weather</a></p><br>
	
	<hr>
</body>

</html>
