<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Your City's Weather</title>
	<style>
        body { 
            background-color: pink;
            font-family: 'Brush Script MT', cursive;
            font-size: 2rem;
        }

        .content {
            max-width: 600px;
            text-align: center;
            margin: auto;
        }

        .content2 {
            max-width: 700px;
            margin: auto;
            text-align: center;
        }
    </style>
</head>

<body>
	<h1 class= "content">Your City's Weather</h1>
	<div class= "content2">
		<strong>Weather today: </strong><%- temperature %><br>
        <hr>
	</div>
</body>

</html>